li { padding-right: 15px }
small { font-size: 0.5em }
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

section { margin-top: 60px }
section .row, .container-table, .policies-table { padding-top: 15px }

.form-signin > .form-label-group, .form-signin button {
  margin-top: 10px;
}

.search-buttons { text-align: left }
.role-filters, .pagination-buttons { text-align: right }
.pagination-buttons { padding-bottom: 15px }
.container-table .filters-row { margin-top: 100px }
.container-table { font-size: 1em; }
.container-table th, .policies-table th { background-color: slategray; color: white }
.container-table th:nth-child(1) { width: 25% }
.container-table th:nth-child(2) { width: 65% }
.container-table th:nth-child(1) { width: 10% }
.container-table .current { background-color: green; color: white }